<div class="container">
  <p-card [header]="header" class="content">
    <div class="column">
      <div *ngIf="userData">
        <p>
          We have sent a confirmation email to
          <strong>{{ userData.email }}</strong
          >.
        </p>
        <p>
          Please check your email and click on the link to verify your email
          address.&nbsp;<a (click)="resendVerificationMail()">
            Resend Verification Email
          </a>
        </p>

        <button pButton label="Sign in" routerLink="/sign-in"></button>
      </div>
    </div>
  </p-card>
</div>
