
.container {
  background-color: rgb(60, 82, 179);
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10vh;
  height: 55vh;
}

.column {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 22vw;
}

a {
  color: #009df8;
  text-decoration: none;
}

a:hover {
text-decoration: underline;
cursor: pointer;
}

a:visited {
  color: #009df8;
}


@media only screen and (max-width: 1366px) {
  .column {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25vw;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
    height: 65vh;
  }
}
