<div class="container">
  <p-card [header]="header" class="email-input">
    <div class="column">
      <p>Please enter your email address to request a password reset.</p>
      <input placeholder="e-mail" pInputText [formControl]="emailControl" />
      <button
        class="button-margin"
        label="Reset password"
        pButton
        [disabled]="!emailControl.valid"
        (click)="sendPasswordResetEmail()"
      ></button>

      <button
        icon="pi pi-arrow-left"
        pButton
        label="Back"
        routerLink="/sign-in"
      ></button>
    </div>
  </p-card>
</div>
