<div class="container">
  <p-card [header]="header" class="register-form">
    <form [formGroup]="registrationGroup" class="form-column">
      <div class="form-item-auth">
        <label class="form-label-auth">Username</label>
        <input type="text" pInputText formControlName="username" />
      </div>
      <div class="form-item-auth">
        <label class="form-label-auth">E-mail</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="form-item-auth">
        <label class="form-label-auth">Password</label>
        <input
          type="password"
          pPassword
          formControlName="password"
          [feedback]="false"
        />
      </div>
      <span class="sign-up-message"
        >Already have an account?&nbsp;<a routerLink="/auth/sign-in"
          >Sign in</a
        ></span
      >
      <div class="form-button-auth button-margin">
        <button
          pButton
          label="Sign up"
          [loading]="loading[0]"
          [disabled]="registrationGroup.invalid"
          (click)="signUpWithEmail()"
        ></button>
      </div>
      <div class="form-button-auth">
        <button
          icon="pi pi-google"
          pButton
          label="Sign up with Google"
          [loading]="loading[1]"
          (click)="signUpWithGoogle()"
        ></button>
      </div>
    </form>
  </p-card>
</div>
