<div class="nav-bar">
  <div class="logo-title">
    <span><i class="pi pi-book"></i></span>
    <span
      ><b>{{ "AppName" }}</b></span
    >
  </div>
  <div class="nav-items">
    <a class="item" routerLink="/home" routerLinkActive="active">{{
      "Home"
    }}</a>
    <a class="item" routerLink="/restaurants" routerLinkActive="active">{{
      "Restaurants"
    }}</a>
    <a
      *ngIf="isLoggedIn()"
      class="item"
      routerLink="/user-entries"
      routerLinkActive="active"
      >{{ "My entries" }}</a
    >
  </div>
  <div class="user-menu" *ngIf="isLoggedIn()">
    <a class="menu-label" (click)="menu.toggle($event)"
      ><span
        ><i class="pi pi-angle-down menu-icon"></i
        ><b>{{ userData?.displayName }}</b></span
      ></a
    >
    <p-menu #menu [popup]="true" [model]="loggedInitems"></p-menu>
  </div>
  <div class="user-menu" *ngIf="!isLoggedIn()">
    <a routerLink="/auth/sign-in"
      ><span
        ><i class="pi pi-fw pi-sign-in menu-icon"></i><b>Sign In</b></span
      ></a
    >
  </div>
</div>
