<div class="nav-bar">
  <div class="logo-title">
    <span><i class="pi pi-book"></i></span>
    <span
      ><b>{{ "AppName" }}</b></span
    >
  </div>
  <div class="nav-items">
    <a class="item" routerLink="/home" routerLinkActive="active">{{
      "Home"
    }}</a>
    <a class="item" routerLink="/restaurants" routerLinkActive="active">{{
      "Restaurants"
    }}</a>
    <a
      *ngIf="isLoggedIn()"
      class="item"
      routerLink="/user-entries"
      routerLinkActive="active"
      >{{ "My entries" }}</a
    >
  </div>
  <div class="user-menu"><b>manuel.ples</b></div>
</div>
