<h1 class="header">{{ title }}</h1>
<form [formGroup]="formGroup" class="form" (submit)="submitForm()">
  <div class="form-row">
    <label class="form-label required">Restaurant name</label>
    <input
      placeholder="Pizza"
      formControlName="name"
      class="form-item"
      pInputText
    />
  </div>
  <div class="form-row">
    <label class="form-label required">E-mail</label>
    <input
      placeholder="example@gmail.com"
      formControlName="email"
      class="form-item"
      pInputText
    />
  </div>
  <div class="form-row">
    <label class="form-label required">Phone number</label>
    <input
      placeholder="031658912"
      formControlName="contactInfo"
      class="form-item"
      pInputText
    />
  </div>
  <div class="form-row">
    <label class="form-label">Longitude</label>
    <input
      placeholder="46.2"
      formControlName="longitude"
      class="form-item"
      pInputText
    />
  </div>
  <div class="form-row">
    <label class="form-label">Latitude</label>
    <input
      placeholder="35.2"
      formControlName="latitude"
      class="form-item"
      pInputText
    />
  </div>
  <button pButton label="Save" class="form-button"></button>
</form>
