<h1 class="header">{{ title }}</h1>
<form [formGroup]="formGroup" class="form" (submit)="submitForm()">
  <div class="form-row">
    <label class="form-label required">Restaurant name</label>
    <input formControlName="name" class="form-item" pInputText />
  </div>
  <div class="form-row">
    <label class="form-label required">E-mail</label>
    <input formControlName="email" class="form-item" pInputText />
  </div>
  <div class="form-row">
    <label class="form-label required">Phone number</label>
    <input
      placeholder="Phone"
      formControlName="contactInfo"
      class="form-item"
      pInputText
    />
  </div>
  <div class="form-row">
    <label class="form-label">Longitude</label>
    <input formControlName="longitude" class="form-item" pInputText />
  </div>
  <div class="form-row">
    <label class="form-label">Latitude</label>
    <input formControlName="latitude" class="form-item" pInputText />
  </div>
  <button pButton label="Save" class="form-button"></button>
</form>
