<h1 class="header">Restaurant list</h1>
<div class="container">
  <div class="card" *ngFor="let restaurant of restaurants | async">
    {{ restaurant.name }}
    <div class="show-buttons">
      <button
        pButton
        type="button"
        class="p-button-link"
        icon="pi pi-list"
        pTooltip="Price list"
        tooltipPosition="bottom"
        (click)="showPriceList(restaurant)"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-link"
        icon="pi pi-phone"
        pTooltip="Contact"
        tooltipPosition="bottom"
        (click)="showContactInfo(restaurant)"
      ></button>
      <button
        *ngIf="restaurant.coordinates?.latitude"
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-link"
        icon="pi pi-map-marker"
        pTooltip="Location"
        tooltipPosition="bottom"
        (click)="showMap(restaurant)"
      ></button>
    </div>
  </div>
</div>
