.header {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em 15em 0 15em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000004b;
  border-radius: 5%;
  width: 250px;
  height: 150px;
  background-color: white;
  filter: drop-shadow(5px 5px 8px #0000002c);
  padding: 0;
}

.show-buttons {
  display: none;
}
.card:hover {
  flex-direction: column;
  background: rgba(0, 0, 0, 0.26);
  color: white;
  .show-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
  }
}
