<div class="container">
  <div class="card" *ngFor="let restaurant of restaurants | async">
    {{ restaurant.name }}
    <div class="show-buttons">
      <button
        pButton
        type="button"
        class="p-button-link"
        icon="pi pi-list"
        (click)="showPriceList(restaurant)"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-link"
        icon="pi pi-phone"
        (click)="showContactInfo(restaurant)"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-link"
        icon="pi pi-map-marker"
        (click)="showMap(restaurant)"
      ></button>
    </div>
  </div>
</div>
