<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <a pButton label="Sign up" [routerLink]="['/auth/register-user']"></a>
    </div>
  </div>
</div>
<!--
<p-card [header]="header">
  <form [formGroup]="loginGroup" class="form-column" (submit)="formSubmitted()">
    <div class="form-item">
      <label class="form-label">Username</label>
      <input type="text" pInputText formControlName="username" />
    </div>
    <div class="form-item">
      <label class="form-label">Password</label>
      <input
        type="password"
        pPassword
        formControlName="password"
        [feedback]="false"
      />
    </div>
    <div class="form-button">
      <button
        *ngIf="!loading"
        pButton
        label="Log in"
        [disabled]="loginGroup.invalid"
      ></button>
    </div>
    <div class="progress-spinner">
      <p-progressSpinner
        [style]="{ width: '50px', height: '50px' }"
        styleClass="custom-spinner"
        *ngIf="loading"
        strokeWidth="8"
        animationDuration=".5s"
      ></p-progressSpinner>
    </div>
  </form>
  <ng-template pTemplate="footer"> Powered by burek</ng-template>
</p-card> -->
