<div class="container">
  <p-card [header]="header" class="login-form">
    <form [formGroup]="loginGroup" class="form-column">
      <div class="form-item-auth">
        <label class="form-label-auth">E-mail</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="form-item-auth">
        <label class="form-label-auth">Password</label>
        <input
          type="password"
          pPassword
          formControlName="password"
          [feedback]="false"
        />
      </div>
      <span class="sign-up-message"
        >Don't have an account?&nbsp;<a routerLink="/auth/register-user"
          >Sign up</a
        ></span
      >
      <div class="form-button-auth button-margin">
        <button
          pButton
          label="Sign in"
          [loading]="loading[0]"
          [disabled]="loginGroup.invalid"
          (click)="signInWithEmail()"
        ></button>
      </div>
      <div class="form-button-auth">
        <button
          icon="pi pi-google"
          pButton
          label="Sign in with Google"
          [loading]="loading[1]"
          (click)="signInWithGoogle()"
        ></button>
      </div>
      <a class="forgot-password-link" routerLink="/auth/password-reset"
        >Forgot Password?</a
      >
    </form>
  </p-card>
</div>
