
.container {
  background-color: rgb(60, 82, 179);
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10vh;
  height: 58vh;
}

.form-column {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 22vw;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em 0 0.5em 0;
}

.sign-up-message {
  margin-top: 0.5em;
}

a {
  color: #009df8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #009df8;
}

.form-button {
  display: flex;
  flex-direction: column;
}

.button-margin {
  margin: 2.5em 0 0.5em 0;
}

.forgot-password-link {
  text-align: right;
  margin-top: 1em;
}

@media only screen and (max-width: 1366px) {
  .form-column {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 25vw;
  }

  .login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10vh;
    height: 68vh;
  }
}
